<!DOCTYPE html>
<html>
  <head>
    <title>Cct</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="info-top">
      <% if current_user.present? %>
        <%= link_to "Users", users_path %> | <%= link_to "Payments", user_payments_path(current_user) %>
          logged in as <%= current_user.email %> | <%= link_to "logout", destroy_user_session_path, method: :delete %> amount: <%= number_with_precision(current_user.amount, :precision =>2) %>
      <% else %>
        <%= link_to "login", new_user_session_path %>| <%= link_to "register", new_user_registration_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
